.main {
    display: flex;
    justify-content: center;
    width: calc(100vw - 80px);
    height: 100vh;
    overflow: auto;

    .container {
        display: flex;
        flex-direction: column;
        width: var(--container-width);
        height: 100vh;
    }

    h1 {
        padding: 20px 0;
    }

    .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
}